/* SASS FILE */
/*NOTICE: USE ONLY PERCENTAGES */
@mixin text($color, $size, $fontFamily){
    color: $color;
    font-size: $size;
    font-family: $fontFamily;
}

@mixin divTemp($width, $height, $image){
    width: $width;
    height: $height;
    border: 1px solid black;
    background-image: url($image)
}

$boldText: white;
.devLink {
    @include text(white, 150%, monospace);
    display: inline-block
}
.devLink:hover {
    font-size: 170%
}

/*.devLinkUl {

}*/
.devLinks {
    float: right;
}



.title {
    @include text(black, 300%, monospace)

}
.para {
    @include text(white, 150%, monospace)
}

.secondDiv {
    @include divTemp(screen, 40%, "https://www.google.com/url?sa=i&url=https%3A%2F%2Fwallpapers.com%2Fwallpapers%2Fsuper-high-resolution-nature-c6rmcu9iol6osuzx.html&psig=AOvVaw2WBkuWk3X4fYCCd-xyYS6y&ust=1697368908933000&source=images&cd=vfe&opi=89978449&ved=0CBAQjRxqFwoTCNi-0YG29YEDFQAAAAAdAAAAABAE")
    
}

.thirdDiv {
    @include divTemp(screen, 20%)
}

.fourthDiv {
    @include divTemp(screen, 20%)
}

.fifthDiv {
    @include divTemp(screen, 20%)
}

.footer {
    @include divTemp(screen, 20%)
}