/* SASS FILE */
/*NOTICE: USE ONLY PERCENTAGES */
$boldText: white;
.devLink {
    font-size: 150%;
    color: white;
    font-family: monospace;
    display: inline-block
}
.devLink:hover {
    font-size: 170%
}

/*.devLinkUl {

}*/
.devLinks {
    float: right;
}

.secondDiv {
    background-image: url
}