/* SASS FILE */
/*NOTICE: USE ONLY PERCENTAGES */
@mixin text($color, $size, $fontFamily){
    color: $color;
    font-size: $size;
    font-family: $fontFamily;
}

@mixin divTemp($width, $height){
    width: $width;
    height: $height;
    border: 1px solid black;
}

$boldText: white;
.devLink {
    @include text(white, 150%, monospace);
    display: inline-block
}
.devLink:hover {
    font-size: 170%
}

/*.devLinkUl {

}*/
.devLinks {
    float: right;
}



.title {
    text-align: center;
    @include text(black, 300%, monospace)
}
.para {
    text-align: center;
    @include text(white, 150%, monospace)
}

.secondDiv {
    background-image: url("images/calmingimageDiv2.jpg");
    @include divTemp(screen, 400px);
}

.thirdDiv {
    @include divTemp(screen, 20%)
}

.fourthDiv {
    @include divTemp(screen, 20%)
}

.fifthDiv {
    @include divTemp(screen, 20%)
}

.footer {
    @include divTemp(screen, 20%)
}

#aboutLink:hover {
    font-size: 120%;
    background-color: black;
    color: white;
}